* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: "Gruppo", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: #CBBD93;
    font-family: "Underdog", system-ui;
    font-weight: 400;
}

header {
    background-color: #253D2C;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid black;
}

header h1 {
    font-size: 2rem;
    color: white;
    font-weight: 900;
}

#menu {
    display: block;
    font-size: 1.5rem;
    background: none;
    cursor: pointer;
    color: #000;
    position: absolute; 
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
}

#menu::before {
    content: "☰";
    color: white;
}

.navigation {
    background-color: #664C36;
    list-style: none;
    margin: 0 auto; 
    border-radius: 8px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.navigation a:hover {
    background-color: white;
    color: black;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
    color: white;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

main h2 {
    text-align: center;
    padding: 15px;
    font-size: 2em;
}

.temples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
}

figure {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

figcaption {
    color: black;
    padding: 3px;
}

.temples img {
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 20px;
    transition: transform 0.3s ease;   
}

.temples img:hover {
    transform: scale(1.02);   
}

footer {
    background-color: #253D2C;
    color: white;
    text-align: center;
    padding: 20px;
    border: 3px solid black;
}
